* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/background1920.jpg');
	background-size: cover;
	background-position: center;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 4rem;
		padding-bottom: 0;

		&-title {
			font-weight: 900;
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		&-input,
		&-button {
			padding: 1rem;
			font-size: 2rem;
			border-radius: 10px;
		}

		&-button {
			margin-left: 1rem;
			cursor: pointer;
		}
	}

	&__header-warning {
		width: 100%;
		margin-right: 28rem;
		margin-top: 1rem;
		text-align: right;
		color: #f00;
		font-style: italic;
	}

	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 70%;
		max-width: 100rem;
		height: 60%;
		margin: 6rem;
		padding: 1rem;
		border: 3px solid #fff;
		border-radius: 5%;
		background-color: rgba($color: #000000, $alpha: 0.6);

		.mobile {
			display: none;
		}

		&-top {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
			margin-top: 8rem;

			&-city {
				font-size: 4rem;
				font-weight: 600;
				font-style: italic;
				text-transform: uppercase;
			}

			&-date {
				font-size: 2rem;
			}
		}

		&-middle {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 2rem 0;

			&-icon {
				width: 15rem;
				height: 15rem;
			}
		}

		&-headings,
		&-values {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			width: 100%;
			padding: 3rem 0;

			p {
				width: 16%;
			}
		}

		&-headings {
			font-size: 1.4rem;
			border-bottom: 2px solid #fff;
			border-top: 2px solid #fff;
			text-transform: uppercase;
		}

		&-values {
			display: flex;
		}
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.weather {
		&__main {
			width: 80%;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.weather {
		&__header {
			flex-direction: column;

			&-title {
				margin: 4rem 0;
			}

			&-warning {
				margin: 2rem 0 0;
				text-align: center;
			}
		}
		&__main {
			width: 85%;
			height: 60%;

			&-top {
				padding: 2rem;
			}

			&-headings {
				font-size: 1.2rem;
			}
			&-values {
				font-size: 1.4rem;
			}
		}
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.weather {
		&__header {
			flex-direction: column;

			&-title {
				margin: 4rem 0;
			}

			&-warning {
				margin: 2rem 0 0;
				text-align: center;
			}
		}
		&__main {
			width: 98%;
			margin: 3rem;

			&-top {
				padding: 2rem;
			}

			&-headings {
				font-size: 1rem;
			}
			&-values {
				font-size: 1.2rem;
			}
		}
	}
}

@media (min-width: 300px) and (max-width: 575px) {
	.weather {
		background-image: url('../images/background640.jpg');

		&__header {
			flex-direction: column;
			padding: 2rem;
			padding-bottom: 1rem;

			&-title {
				margin: 2rem 0;
				font-size: 2rem;
				font-weight: 700;
			}

			&-input,
			&-button {
				font-size: 1.6rem;
			}

			&-warning {
				margin: 0;
				text-align: center;
			}
		}
		&__main {
			width: 98%;
			height: 70%;
			justify-content: center;

			.mobile {
				display: flex;
				width: 100%;

				p {
					width: 30%;
				}
			}
			.desktop {
				display: none;
			}

			&-top {
				margin-top: 0;
				padding: 1rem;

				&-city {
					font-size: 2.4rem;
				}

				&-date {
					font-size: 1.8rem;
				}
			}

			&-middle {
				margin: 1rem 0;

				&-icon {
					height: 10rem;
					width: 10rem;
				}
			}

			&-headings {
				flex-wrap: wrap;
				padding: 1rem;
				font-size: 1rem;
				border: none;
				border-top: 3px solid #fff;
			}

			&-values {
				padding: 1rem;
				font-size: 1.2rem;
			}
		}
	}
}

@media (max-width: 299px) {
	.weather {
		background-image: url('../images/background640.jpg');

		&__header {
			flex-direction: column;
			padding: 1rem;
			padding-bottom: 1rem;

			&-title {
				margin: 2rem 0;
				font-size: 1.6rem;
				font-weight: 700;
			}

			&-input,
			&-button {
				font-size: 1.2rem;
			}

			&-warning {
				margin: 0;
				text-align: center;
			}
		}
		&__main {
			justify-content: center;
			width: 98%;
			height: 70%;
			margin: 2rem 0;
			padding: 0;

			.mobile {
				display: flex;
				width: 100%;

				p {
					width: 33%;
				}
			}
			.desktop {
				display: none;
			}

			&-top {
				margin: 0;
				padding: 1rem;

				&-city {
					font-size: 2rem;
				}
				&-date {
					font-size: 1.4rem;
				}
			}

			&-middle {
				margin: 1rem 0;

				&-icon {
					height: 10rem;
					width: 10rem;
				}
			}

			&-headings {
				flex-wrap: wrap;
				font-size: 1rem;
				border: none;
				border-top: 3px solid #fff;
			}

			&-values {
				padding: 0 1rem;
				font-size: 1.2rem;

				p {
					padding-bottom: 1rem;
				}
			}
		}
	}
}

