* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	background-image: url('../images/background1920.jpg');
	background-size: cover;
	background-position: center;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 4rem;
		padding-bottom: 0;

		&-title {
			font-weight: 900;
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		&-input,
		&-button {
			padding: 1rem;
			font-size: 2rem;
			border-radius: 10px;
		}

		&-button {
			margin-left: 1rem;
			cursor: pointer;
		}
	}

	&__header-warning {
		width: 100%;
		margin-right: 37rem;
		margin-top: 1rem;
		text-align: right;
		color: #f00;
		font-style: italic;
	}

	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 70%;
		max-width: 100rem;
		height: 60%;
		margin: 6rem;
		padding: 1rem;
		border: 3px solid #fff;
		border-radius: 5%;
		background-color: rgba($color: #000000, $alpha: 0.6);

		&-top {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
			margin-top: 8rem;

			&-city {
				font-size: 4rem;
				text-transform: uppercase;
				font-weight: 600;
				font-style: italic;
			}

			&-date {
				font-size: 2rem;
			}
		}

		&-middle {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 5rem 0;
		}

		&-headings,
		&-values {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			width: 100%;
			padding: 3rem 0;

			p {
				width: 16%;
			}
		}

		&-headings {
			font-size: 1.4rem;
			text-transform: uppercase;
			border-bottom: 2px solid #fff;
			border-top: 2px solid #fff;
            
		}

		&-values {
			display: flex;
		}
	}
}
